{% load static %}
{% load sass_tags %}
<!-- footer start-->
<footer class="footer" style="margin-left: 0 !important;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0 footer-copyright">
                <p class="mb-0">Copyright 2025 © Tamer Logistics</p>
            </div>
            <div class="col-md-6 p-0">
                <p class="heart mb-0">
                    Design By &amp;  Aljwharah
                    <!--            <svg class="footer-icon">-->
                    <!--              <use href="{% static 'assets/svg/icon-sprite.svg' %}#heart"></use>-->
                    <!--            </svg>-->
                </p>
            </div>
        </div>
    </div>
</footer>
